body {
  box-sizing: border-box;
}

.book {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16em;
  box-shadow: 1px 1px 1px 1px lightblue;
}

.book-description p {
  width: 14em;
  margin: 4px;
}
