.category-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 3em;
}


.categories-wrap {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.btn-status{
  border: none;
  box-shadow: 1px 1px 1px 1px lightblue;
  height: 30px;
}